snippet rad
	-webkit-border-radius: $1px;
	-moz-border-radius: $1px;
	border-radius: ${1:5}px;

snippet trans
	-webkit-transition: $1 $2s $3$4;
	-moz-transition: $1 $2s $3$4;
	-o-transition: $1 $2s $3$4;
	transition: ${1:all} ${2:0.1}s ${3:ease}${4: 0.5};
